body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

#preview-image {
    width: 900px;
    height: 700px;
    border: 2px solid #333;
    border-radius: 10px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 200px; 
    margin-top: 20px;
}

#download-button,
#retake-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}

#download-button:hover,
#retake-button:hover {
    background-color: #45a049;
}