body {
    margin: 0; 
    height: 100vh; 
    cursor: url(./assets/cursor.cur), auto;
}


.logo-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 192, 203, 0.8);
	background-image:
		repeating-linear-gradient( 0deg, rgba(255, 255, 255, 0.5) 0px 12px,	transparent 1px 25px),
		repeating-linear-gradient( 90deg, rgba(137, 184, 255, 0.5) 0px 12px,	transparent 1px 25px);
    box-shadow: 2px 2px 2cap hsla(350, 100%, 88%, 0.8); 
    outline: 2px solid rgba(255, 255, 255, 0.6);
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 8;
}
h2{
    font-family: "Hachi Maru Pop", cursive;
    font-weight: bolder;
    font-size: 25px;
    color: rgb(21, 41, 41);
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
}

#photo-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;     
}

#color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5; 
}

#anime-eyes-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;  
    z-index: 5;     
}

#accessories-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;  
    z-index: 5;     
}

#blush-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;  
    z-index: 5;    
}

#stickers{
    z-index: 8;     
}


#sticker-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: 4;
}

#cute-filter-image-container{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 100%;    
    z-index: 7;  

}

#webcam-video {
    position: relative;
    width: 100%;  
    height: 100vh; 
    object-fit: cover; 
    z-index: 1;
}

#photo-canvas{
    position: absolute;
    width: 100%;  
    height: 100%; 
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;
}

.filter-controls {
    position: fixed;
    top: 200px; 
    left:50px; 
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Poppins', Arial, Helvetica, sans-serif; 
    color: rgb(21, 41, 41);
    font-size: 13px;
    padding: 15px;
    gap: 5px;
    border-radius: 15px; 
    display: flex; 
    flex-direction: column; 
    z-index: 8;
    box-shadow: 2px 2px 2cap rgba(255, 192, 203, 0.8); 
    outline: 3px solid rgba(255, 255, 255, 0.6);
}

.filter-controls input[type="range"] {
    -webkit-appearance: none;  
    appearance: none;
    width: 150px;         
    height: 20px;           
    background: rgba(137, 184, 255, 0.25); 
    border-radius: 10px;     
    outline: none;        
}

.filter-controls input[type="range"]::-webkit-slider-thumb { 
    -webkit-appearance: none;
    appearance: none;
    width: 30px;           
    height: 40px;
    cursor: pointer;
    background: url(./assets/5172567_heart_like_love_icon.png) no-repeat center; 
    background-size: contain;   
    border-radius: 50%;
    border: none;       
}

#overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    opacity: 0;            
    z-index: 0;           
} 

.reminder-container {
    position: fixed; 
    top: 590px; 
    left: 50px;  
    width: 200px; 
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Poppins', Arial, Helvetica, sans-serif; 
    font-size: 12px;
    color: rgb(21, 41, 41); 
    padding: 15px;
    border-radius: 15px; 
    z-index: 9;  
    box-shadow: 2px 2px 2cap rgba(255, 192, 203, 0.8); 
    outline: 3px solid rgba(255, 255, 255, 0.6);
}

.reminder-gif {
    position: relative;
    width: 60px;
    vertical-align: middle; 
}

.close-button {
    position: absolute;
    top: 5px;          
    right: 5px;
    background-color: #FFC0CB; 
    color: white;
    padding: 3px 6.5px;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900; 
}

.close-button-two {
    position: absolute;
    top: 5px;          
    right: 5px;
    background-color: #FFC0CB; 
    color: white;
    padding: 2.5px 6.5px;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900; 
}
