body{
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0; 
    padding: 0; 
    cursor: url('./public/cursor-2.cur'), auto;
}

h1 {
    position: absolute;
    top: 10px;               
    left: 10px; 
    text-align: left;
}


.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.rice-cooker {
    position: relative; 
    top: 250px;
    flex-basis: calc(25% - 10px); 
  max-width: calc(25% - 10px); 
}

.rice-cooker img {
    max-width: 100%;
    width: auto; 
    height: auto; 
    max-height: 100%;
}

#steam {
    position: absolute;
    width: 50px; 
    height: auto;
    z-index: 1;
    left: 50%;
    bottom: 260px;
    transform: translateX(-50%);
}

.rice-bowl-container{
position: relative; 
    top: 80px;
  flex-basis: calc(75% - 10px);
  max-width: calc(75% - 10px); 
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.rice-bowls {
    width: 100%; 
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    justify-content: flex-start;
    gap: 10px; 
}

.rice-bowls img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

