.nextbutton{
    width: 60px;
    height: 60px;
    background-color: #FF8D8D;
    border-radius: 30px;
    justify-content: center;
    display: inline-block; 
  }
  
  .nextbutton a {
    color: #3c1b05;
    text-decoration: none;
    font-family: Lilita One, serif;
    font-size: 13px; 
    line-height: 60px;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    left: 15px;
  }

  .nextbutton:hover {
    background-color: #FF8D8D;
  }

  .nextbutton a:hover {
    color: white;
  }




  .nobutton {
    background-color: #9c9c9c6a;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
  
  .nobutton a {
    color: #3c1b05;
    text-decoration: none;
    font-family: Lilita One, serif;
    font-size: 13px; 
    letter-spacing: 1px;
    text-align: center;
  }


.yesbutton:hover {
  background-color: #FF8D8D;
}

.yesbutton a:hover{
  color: white;
}

.notesbutton:hover {
  background-color: #3c1b05;
}

.notesbutton a:hover {
  color: white;
}

.notesbutton {
  background-color: #9c9c9c6a;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.notesbutton a {
  color: #3c1b05;
  text-decoration: none;
  font-family: Lilita One, serif;
  font-size: 13px; 
  letter-spacing: 1px;
  text-align: center;
}
