.nextbutton{
    width: 60px;
    height: 60px;
    background-color: #97c1df;
    border-radius: 30px;
    justify-content: center;
    display: inline-block; 
  }
  
  .nextbutton a {
    color: #3c1b05;
    text-decoration: none;
    font-family: Lilita One, serif;
    font-size: 13px; 
    line-height: 60px;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    left: 15px;
  }

  .nextbutton:hover {
    background-color: #7d9eb5;
  }

  .nextbutton a:hover {
    color: white;
  }




  .nobutton {
    background-color: #9c9c9c6a;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
  
  .nobutton a {
    color: #3c1b05;
    text-decoration: none;
    font-family: Lilita One, serif;
    font-size: 13px; 
    letter-spacing: 1px;
    text-align: center;
  }


.yesbutton:hover {
  background-color: #97c1df;
}

.nobutton:hover {
  background-color: #3c1b05;
}

.nobutton a:hover {
  color: white;
}
