  body{
    background-color: #fef7ec;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .backlink{
    position: absolute;
    width:auto;
    height: auto;
    top: 0%;
    left: 0px;
    font-size:13px;
    font-weight: 400;
    font-family: Lilita One, serif;
    text-align: center;
    letter-spacing: 0;
    color: #3c1b05;
    margin: 10px;
  }

  .bigtext {
    position: absolute;
    width: 20%;
    height: auto;
    top: 550px;
    font-size: 24px;
    font-family: Lilita One, serif;
    text-align: center;
    justify-content: center;
    letter-spacing: 0;
    line-height: normal;
    color: #3c1b05;
  }

  .minitext{
    position: absolute;
    color: #3c1b05;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    width: auto;
    height: auto;
    top: 900px;
    font-weight: 400;
    justify-content: center;
  }

  .nextbutton{
    position: absolute;
    top: 70%; 
  }

  .chocolate-chip{
    position:absolute;
    width:500px;
    height: 350px;
    top: 150px;
    animation: spin 10s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .circle{
    height: 40%;
    width: 40%;
    max-width: 600px;
    max-height: 600px;
    background-color: #c8885e;
    opacity: 55%;
    border-radius: 50%;
    position:fixed;
    filter: blur(202px);
    z-index: -1;
    top: 30%;
  }

  @media only screen and (max-width: 1000px) {
    .bigtext {
      font-size: 24px;
      
    }
  
    .minitext {
      font-size: 12px;
    }
    .circle {
      filter: blur(150px);
    }
    .navbar {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: auto;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .navbar div,
    .notes {
      margin: 2% 0;
      margin-right: 10px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .bigtext {
      font-size: 20px;
      
    }
  }
  
  @media only screen and (max-width: 600px) {
    .bigtext {
      font-size: 18px;
    }
  
    .minitext {
      font-size: 12px;
    }
    .circle{
      filter: blur(150px); 
    }
 .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
  }

  .navbar div, .notes {
    margin: 2% 0;
    margin-right: 10px;
  }

  }