.navbar{
  position: absolute;
  width: 754px;
  height: 58px;
  top: -1px;
  left: 689px;
  margin: 10px;
}

.step1{
  left: 50%;
  position: absolute;
  width: 179px;
  height: 58px;
  top: 0%;
  color: #3c1b05;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.step2{
  left: 65%;
  position: absolute;
  width: 179px;
  height: 58px;
  top: 0;
  color: #c8885e;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.step3{
  left: 80%;
  position: absolute;
  width: 179px;
  height: 58px;
  top: 0;
  color: #c8885e;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.step4{
  left: 95%;
  position: absolute;
  width: 179px;
  height: 58px;
  top: 0;
  color: #c8885e;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.step5{
  left: 110%;
  position: absolute;
  width: 179px;
  height: 58px;
  top: 0;
  color: #c8885e;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.notes{
  left: 125%;
  position: absolute;
  width: 179px;
  height: 58px;
  top: 0;
  color: #3c1b05;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}


   
   
   h1 {
    position: relative;
    width: 227px;
    height: 58px;
    top: 95px;
    left: 45%;
    color: #3c1b05;
    font-size: 24px;
    letter-spacing: 0;
    font-family: Lilita One, serif;
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
  }

  body {
    background-color: #fef7ec;
  }


  .listcontainter {
    text-align: left;
    margin-left: 47%;
    margin-top: 10%;
  } 

  .ingredientslist {
    list-style-type: none;
    color: black;
    padding-left: 20px;
    text-align: left;
    display: inline-block;
    font-size: 40px;
    position: absolute;
  }


h2{
  font-family: Josefin Sans, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
  width: 722px;
  height: 58px;
  top: 70%;
  left: 30%;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  color: #3c1b05;
}

.group{
  position: absolute;
  width: 60px;
  height: 60px;
  height: 62px;
  top: 80%;
  left: 900px;
}

.yesbutton{
    background-color: #c8885e;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}


.buttons{
  position: absolute;
  width: 37px;
  height: 25px;
  top: 18px;
  left: 12px;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 0;
}

.group2{
  position: absolute;
  width: 60px;
  height: 60px;
  height: 62px;
  top: 80%;
  left: 800px;
}

.nobutton{
  background-color: #9c9c9c6a;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.yesbutton:hover{
    background-color:#97c1df;
  }

.nobutton:hover{
  background-color: #3c1b05;
}