
.navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 58px;
  max-width: 100%;
  color: #c8885e;
}

.navbar div, .notes {
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

.step1 {
  position: relative;
  color: #3c1b05;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
  outline-color: #c8885e;
  border: none;
  border-radius: 30pt;
  box-shadow: 0 0 10pt 4pt  #c8885e;
  outline-color: #c8885e;
}


.notes {
  color: #3c1b05;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.notes:hover {
  color: #97c1df;
  text-decoration: none;
}


    
h1 {
  position: absolute;
  width: 250px;
  height: 58px;
  top: 80px;
  left: 44%;
  color: #3c1b05;
  font-size: 32px;
  letter-spacing: 0;
  font-family: Lilita One, serif;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
}

.shopping{
  position: absolute;
  width: 350px;
  height: 58px;
  top: 60px;
  left: 42%;
  color: #3c1b05;
  font-size: 32px;
  letter-spacing: 0;
  font-family: Lilita One, serif;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
}

body {
  background-color: #fef7ec;
}

h2 {
  font-family: Josefin Sans, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  height: 70px;
  width: 700px;
  position: absolute;
  top: 96%;
  right: -35%;
  line-height: auto;
  color: #3c1b05;
}

.group {
  position: relative;
  height: 60px;
  height: 62px;
  top: 150%;
  left: 325%;
}

.yesbutton {
  background-color: #c8885e;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.yesbutton a {
  color: #3c1b05;
  text-decoration: none;
  font-family: Lilita One, serif;
  font-size: 13px; 
  letter-spacing: 1px;
  text-align: center;
}


.buttons {
  position: absolute;
  width: 37px;
  height: 25px;
  top: 18px;
  left: 12px;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 0;
}

.group2 {
  position: relative;
  height: 60px;
  height: 62px;
  top: 150%;
  left: -50%;
}

.nobutton {
  background-color: #9c9c9c6a;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.nobutton a {
  color: #3c1b05;
  text-decoration: none;
  font-family: Lilita One, serif;
  font-size: 13px; 
  letter-spacing: 1px;
  text-align: center;
}

.yesbutton:hover {
  background-color: #FF8D8D;
}

.yesbutton a:hover {
color: white;
}


.nobutton:hover {
  background-color: #3c1b05;
}

.nobutton a:hover {
  color: white;
}

.checklist {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 35px 80px;
  justify-content: center;
}

.item {
  text-align: center;
  margin: 10px;
}

.check-label {
  position: relative;
  display: inline-block;
}

.check {
  display: none;
}

.item-image {
  width: 125px;
  height: 125px;
  border: 1px solid #3c1b05;
  border-radius: 50%;
}

.check:checked + .check-label .item-image {
  background-color: #ffbebe;
}


.label {
  position: absolute;
  font-size: 16px;
  width: 120px;
  display: block;
  text-align: center;
  margin-top: 5px;
  margin-left: 2%;
}



@media only screen and (max-width: 800px) {
  h1{
    font-size: 30px;
    position: absolute;
    left: 41%;
    width: 80px;
    height: 58px;
  }
  h2 {
    font-size: 14px;
    position: absolute;
    width: 600px;
    height: 58px;
    right: -18%;

  }

  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }


.navbar div, .notes {
  margin: 2% 0;
  margin-right: 10px;
}
}


@media only screen and (max-width: 600px) {

  h1{
    font-size: 30px;
    position: absolute;
    left: 41%;
    width: 80px;
    height: 58px;
  }
  h2 {
    font-size: 14px;
    position: absolute;
    width: 600px;
    height: 58px;
    right: -18%;

  }

  .shopping{
    left: 24%;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

.navbar div, .notes {
  margin: 2% 0;
  margin-right: 10px;
}

}