body{
  background-color: #fef7ec;
}
.navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 58px;
  margin-top: 20px;
  max-width: 100%;
  color: #c8885e;
}

.navbar div, .notes {
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

.step1 {
    color: #3c1b05;
}

.step2 {
  color: #3c1b05;
}

.step3 {
  color: #3c1b05;
}

.step4 {
  color: #3c1b05;
  position: relative;
  color: #3c1b05;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
  outline-color: #c8885e;
  border: none;
  border-radius: 30pt;
  box-shadow: 0 0 10pt 4pt  #c8885e;
}

h1 {
  position: absolute;
  width: 250px;
  height: 58px;
  top: 80px;
  left: 44%;
  color: #3c1b05;
  font-size: 24px;
  letter-spacing: 0;
  font-family: Lilita One, serif;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
}

.text{
  position: absolute;
  width: 800px;
  height: 500px;
  top: 40%;
  left: 36%;
  font-family: Arial, Helvetica, sans-serif;
  color: #3c1b05;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}



.color-scale {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
  max-width: 1000px;
}

.color-block {
  position: relative;
  left: 40%;
  top: 350px;
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 60%;
  margin: 5px;
  text-align: center;
  line-height: 50px;
}

label{
 font-family: Arial, Helvetica, sans-serif;
  color: #3c1b05;
  font-size: 13px;
  line-height: 150px;
}

span{
  color: #fef7ec;
}

.popup-info {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #3c1b05;
  font-size: 13px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.color-block:hover .popup-info {
  display: block;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .color-block .popup-info {
  display: block;
}




.nextbutton{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 70%;
    left: 49%;
    font-size: 13px; 
    line-height: 50px;
    text-align: center;
    background-color: #c8885e;
    border-radius: 30px;
    justify-content: center;
  }
  

  .nextbutton:hover {
    background-color:#97c1df;
  }

  @media only screen and (max-width: 1000px) {
    h1{
      font: 20px;
      width: auto;
      position: absolute;
      left: 38%;
    }
    
    .text{
      position: absolute;
      right: 30%;
      width: 50%;
   }
  }
  
  @media only screen and (max-width: 600px) {
h1{
  font: 20px;
  width: auto;
}

.text{
  position: absolute;
  left: 30%;
  width: 50%;
 }
 .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
  }

  .navbar div, .notes {
    margin: 2% 0;
    margin-right: 10px;
  }

  }