body {
    background-color: black; 
    color: white;     
    font-family: rubik;    
}

.poster{
    height: 500px;
    width: 500px;
    margin-bottom: 40px;
}

.about-intro {
    position: relative; 
    text-align: center;  
    top: 100px;   
}

.about-intro h1 {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 30px;
}

.about-intro p {
    line-height: 1.6;         
    max-width: 800px;          
    margin: 0 auto;  
    text-align: left;          
}

.navbar {
    position: absolute;   
    top: 10px;               
    right: 10px;             
    width: auto;     
    display: flex;         
    flex-direction: row;      
    justify-content: space-around;     
    padding: 10px;
    z-index: 10; 
    color: white;        
}

.navbar a {
    text-decoration: none;          
    margin-right: 20px; 
    color: white;     
} 